# Compiled class files
*.class

# Log files
*.log

# Maven build directory
target/

# IDE specific files
.settings/
.project
.classpath
build/

# IntelliJ IDEA
.idea/
*.iml

# NetBeans
nbproject/

# Eclipse
*.launch
