<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>FinanzasPersonalesREST</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- Recurso para el DataSource -->
	<resource-ref>
		<res-ref-name>jdbc/FinanzasPersonalesDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Servlet de Jersey -->
	<servlet>
		<servlet-name>ServletJersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.ksaplay.finanzas.controlador</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletJersey</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- FiltroJWT -->
	<filter>
		<filter-name>FiltroJWT</filter-name>
		<filter-class>com.ksaplay.finanzas.utilidades.FiltroJWT</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroJWT</filter-name>
		<url-pattern>/api/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
</web-app>